@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.background {
  background-image: url('https://th.bing.com/th/id/OIP.XahzJwSZ2WD_5it3InpcJQHaEO?w=292&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}
.Login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 400px;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  border-radius: 16px;
  box-shadow: 0 4px 32px rgba(0,0,0,0.3);
}